body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}
